@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100&display=swap');
// colors
$primary : rgb(90 93 165);
$secondary: #292e4f;
$dark-grey:  #363636;
$action: #cf0e3f;
$light-grey: #D8D8D8;
$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669f2;
$f-family: 'Roboto', sans-serif;